body {
    background-color: #ffb6c1
    
}

body {
        color: white; 
}

.img{
    border-radius: 10px;
    margin: auto;
    display: block;
    
}

.flores{
  margin:auto;
  display: block;

  
}


h1 {
    color: palevioletred; 
  }

  h2{
    font-family: 'Georgia', serif;
  }



